In [4]:
import pandas as pd
from pathlib import Path

In [ ]:
#Connect to the database
conn_string = "host='localhost' dbname='glacier_data' user='postgres' password='REDACTED'"
#password has been removed for security reasons
conn = psycopg2.connect(conn_string)
print("Database opened successfully")
cursor = conn.cursor();
query = 'select * from yourdatabase'
cursor.execute(query)
colnames = [desc[0] for desc in cursor.description]
df = pd.DataFrame(cursor.fetchall(), columns=colnames)
cursor.close()
print('Database closed successfully!')

In [5]:
#read in data
raw_df = pd.read_csv(Path("../Data/AK_1985_to_2000_overall_glacier_covered_area.csv"))
raw_df.head()

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,...,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name,GN_area,GN_comp_ye
0,RGI60-01.00002,G213332E63404N,20090703,-9999999,-146.668,63.404,1,2,0.558,1713,...,1197,0,0,0,0,9,9,NaN,0.5922,2000
1,RGI60-01.00003,G213920E63376N,20090703,-9999999,-146.080,63.376,1,2,1.685,1609,...,2106,0,0,0,0,9,9,NaN,1.8045,2000
2,RGI60-01.00004,G213880E63381N,20090703,-9999999,-146.120,63.381,1,2,3.681,1273,...,4175,0,0,0,0,9,9,NaN,3.6765,2000
3,RGI60-01.00005,G212943E63551N,20090703,-9999999,-147.057,63.551,1,2,2.573,1494,...,2981,0,0,0,0,9,9,NaN,2.6064,2000
4,RGI60-01.00006,G213756E63571N,20090703,-9999999,-146.244,63.571,1,2,10.470,1201,...,10518,0,0,0,0,9,9,NaN,7.7220,2000

In [6]:
#shape of file
raw_df.shape

(287327, 24)

In [8]:
#glaciers only
cleaning=raw_df[raw_df['Form'] == 0]
#clarifying column names and converting to Imperial 
cleaning['Id'] = cleaning['RGIId']
cleaning['Height (m)'] = cleaning['Zmax'] - cleaning['Zmin']
cleaning['Height (ft)'] = cleaning['Height (m)'] * 3.281
cleaning['Length (ft)'] = cleaning['Lmax'] * 3.281
cleaning['Area (mi^2)'] = cleaning['GN_area'] / 2.59
cleaning['Year'] = cleaning['GN_comp_ye']
#removing excess columns and sorting by Id
cleaning=cleaning.sort_values(by=["Id", "Year"]).reset_index()
cleaning=cleaning[['Id','Name','Year', 'CenLon', 'CenLat', 'Area (mi^2)', 'Height (ft)', 'Length (ft)']]
cleaning.head(25)

,Id,Name,Year,CenLon,CenLat,Area (mi^2),Height (ft),Length (ft)
0,RGI60-01.00002,NaN,1986,-146.668,63.404,0.324903,1414.111,3927.357
1,RGI60-01.00002,NaN,1988,-146.668,63.404,0.347490,1414.111,3927.357
2,RGI60-01.00002,NaN,1990,-146.668,63.404,0.320386,1414.111,3927.357
3,RGI60-01.00002,NaN,1992,-146.668,63.404,0.303012,1414.111,3927.357
4,RGI60-01.00002,NaN,1994,-146.668,63.404,0.283900,1414.111,3927.357
5,RGI60-01.00002,NaN,1996,-146.668,63.404,0.259228,1414.111,3927.357
6,RGI60-01.00002,NaN,1998,-146.668,63.404,0.243938,1414.111,3927.357
7,RGI60-01.00002,NaN,2000,-146.668,63.404,0.228649,1414.111,3927.357
8,RGI60-01.00002,NaN,2002,-146.668,63.404,0.212317,1414.111,3927.357
9,RGI60-01.00002,NaN,2004,-146.668,63.404,0.213359,1414.111,3927.357
10,RGI60-01.00002,NaN,2006,-146.668,63.404,0.192162,1414.111,3927.357
11,RGI60-01.00002,NaN,2008,-146.668,63.404,0.236293,1414.111,3927.357
12,RGI60-01.00002,NaN,2010,-146.668,63.404,0.187645,1414.111,3927.357
13,RGI60-01.00002,NaN,2012,-146.668,63.404,0.194942,1414.111,3927.357
14,RGI60-01.00002,NaN,2014,-146.668,63.404,0.198417,1414.111,3927.357
15,RGI60-01.00002,NaN,2016,-146.668,63.404,0.216139,1414.111,3927.357
16,RGI60-01.00002,NaN,2018,-146.668,63.404,0.219614,1414.111,3927.357
17,RGI60-01.00002,NaN,2020,-146.668,63.404,0.224479,1414.111,3927.357
18,RGI60-01.00003,NaN,1986,-146.080,63.376,0.436100,1880.013,6909.786
19,RGI60-01.00003,NaN,1988,-146.080,63.376,0.697066,1880.013,6909.786
20,RGI60-01.00003,NaN,1990,-146.080,63.376,0.729730,1880.013,6909.786
21,RGI60-01.00003,NaN,1992,-146.080,63.376,0.742934,1880.013,6909.786
22,RGI60-01.00003,NaN,1994,-146.080,63.376,0.741892,1880.013,6909.786
23,RGI60-01.00003,NaN,1996,-146.080,63.376,0.703668,1880.013,6909.786
24,RGI60-01.00003,NaN,1998,-146.080,63.376,0.683514,1880.013,6909.786

In [9]:
#shape of cleaned file - checking columns
cleaning.shape

(287327, 8)

In [10]:
#possibly using only named glaciers?
namedonly=cleaning[cleaning['Name'].notna()]
namedonly.shape

(10226, 8)

In [11]:
#the loss of 97% of entries is not worth having only named entries
#
#commented out the below to clean the repository
#cleaning.to_csv("../Data/AK_2000_overall_glacier_covered_area_cleaned.csv", index=False, header=True)

In [12]:
#a second csv with data over time for the ai to evaluate. thanks to chatgpt for some of the syntax.
def calculate_changes(df):
    changes = []
    for id_value, group in df.groupby('Id'):
        group_sorted = group.sort_values(by='Year')
        row = {'Id': id_value}
        for i in range(1, len(group_sorted)):
            prev_year = group_sorted.iloc[i-1]['Year']
            curr_year = group_sorted.iloc[i]['Year']
            
            area_change = group_sorted.iloc[i]['Area (mi^2)'] - group_sorted.iloc[i-1]['Area (mi^2)']
            long_change = group_sorted.iloc[i]['CenLon'] - group_sorted.iloc[i-1]['CenLon']
            lat_change = group_sorted.iloc[i]['CenLat'] - group_sorted.iloc[i-1]['CenLat']
            height_change = group_sorted.iloc[i]['Height (ft)'] - group_sorted.iloc[i-1]['Height (ft)']
            length_change = group_sorted.iloc[i]['Length (ft)'] - group_sorted.iloc[i-1]['Length (ft)']
            
            change_column_name = f"change between {prev_year} and {curr_year}"
            row[f"Longitude {change_column_name}"] = long_change
            row[f"Latitude {change_column_name}"] = lat_change
            row[f"Area (mi^2) {change_column_name}"] = area_change
            row[f"Height (ft) {change_column_name}"] = height_change
            row[f"Length (ft){change_column_name}"] = length_change
        changes.append(row)
    df_with_changes = pd.DataFrame(changes)
    return df_with_changes
over_time = calculate_changes(cleaning)
over_time.head(25)

,Id,Longitude change between 1986 and 1988,Latitude change between 1986 and 1988,Area (mi^2) change between 1986 and 1988,Height (ft) change between 1986 and 1988,Length (ft)change between 1986 and 1988,Longitude change between 1988 and 1990,Latitude change between 1988 and 1990,Area (mi^2) change between 1988 and 1990,Height (ft) change between 1988 and 1990,...,Longitude change between 1986 and 2006,Latitude change between 1986 and 2006,Area (mi^2) change between 1986 and 2006,Height (ft) change between 1986 and 2006,Length (ft)change between 1986 and 2006,Longitude change between 1988 and 2014,Latitude change between 1988 and 2014,Area (mi^2) change between 1988 and 2014,Height (ft) change between 1988 and 2014,Length (ft)change between 1988 and 2014
0,RGI60-01.00002,0.0,0.0,0.022587,0.0,0.0,0.0,0.0,-0.027104,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RGI60-01.00003,0.0,0.0,0.260965,0.0,0.0,0.0,0.0,0.032664,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RGI60-01.00004,0.0,0.0,0.672046,0.0,0.0,0.0,0.0,0.064981,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RGI60-01.00005,0.0,0.0,0.995907,0.0,0.0,0.0,0.0,-0.011815,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RGI60-01.00006,0.0,0.0,0.684556,0.0,0.0,0.0,0.0,-0.043089,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RGI60-01.00007,0.0,0.0,-0.001737,0.0,0.0,0.0,0.0,0.001737,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,RGI60-01.00008,0.0,0.0,-0.007297,0.0,0.0,0.0,0.0,0.055946,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RGI60-01.00009,0.0,0.0,0.242201,0.0,0.0,0.0,0.0,-0.253320,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,RGI60-01.00010,0.0,0.0,-1.626255,0.0,0.0,0.0,0.0,-0.116757,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RGI60-01.00011,0.0,0.0,0.231776,0.0,0.0,0.0,0.0,0.051081,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,RGI60-01.00012,0.0,0.0,0.766911,0.0,0.0,0.0,0.0,-0.073320,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RGI60-01.00013,0.0,0.0,26.419691,0.0,0.0,0.0,0.0,0.196680,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,RGI60-01.00014,0.0,0.0,-0.035792,0.0,0.0,0.0,0.0,-0.044826,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,RGI60-01.00015,0.0,0.0,0.210927,0.0,0.0,0.0,0.0,0.033012,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,RGI60-01.00016,0.0,0.0,0.095907,0.0,0.0,0.0,0.0,-0.392664,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,RGI60-01.00017,0.0,0.0,0.997645,0.0,0.0,0.0,0.0,-0.060811,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RGI60-01.00018,0.0,0.0,0.357220,0.0,0.0,0.0,0.0,0.003475,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,RGI60-01.00019,0.0,0.0,-0.598031,0.0,0.0,0.0,0.0,-0.048996,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RGI60-01.00020,0.0,0.0,0.706448,0.0,0.0,0.0,0.0,-0.008340,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,RGI60-01.00021,0.0,0.0,2.388649,0.0,0.0,0.0,0.0,-0.206409,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RGI60-01.00022,0.0,0.0,2.010232,0.0,0.0,0.0,0.0,-0.218224,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,RGI60-01.00023,0.0,0.0,0.379459,0.0,0.0,0.0,0.0,0.007992,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RGI60-01.00024,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.020849,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,RGI60-01.00025,0.0,0.0,1.053243,0.0,0.0,0.0,0.0,0.331506,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,RGI60-01.00026,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.060116,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#shape of file
over_time.shape

(18259, 766)

In [14]:
#in spot checking, noticed nothing but area changed. decided to clean further.
area_only=over_time
area_only = area_only.loc[:, ~area_only.columns.str.startswith('Longitude')]
area_only = area_only.loc[:, ~area_only.columns.str.startswith('Latitude')]
area_only = area_only.loc[:, ~area_only.columns.str.startswith('Height (ft)')]
area_only = area_only.loc[:, ~area_only.columns.str.startswith('Length (ft)')]
area_only.head(25)

,Id,Area (mi^2) change between 1986 and 1988,Area (mi^2) change between 1988 and 1990,Area (mi^2) change between 1990 and 1992,Area (mi^2) change between 1992 and 1994,Area (mi^2) change between 1994 and 1996,Area (mi^2) change between 1996 and 1998,Area (mi^2) change between 1998 and 2000,Area (mi^2) change between 2000 and 2002,Area (mi^2) change between 2002 and 2004,...,Area (mi^2) change between 1996 and 2016,Area (mi^2) change between 1990 and 2016,Area (mi^2) change between 1986 and 2014,Area (mi^2) change between 1986 and 2008,Area (mi^2) change between 1988 and 2006,Area (mi^2) change between 1986 and 2012,Area (mi^2) change between 1988 and 2020,Area (mi^2) change between 1996 and 2018,Area (mi^2) change between 1986 and 2006,Area (mi^2) change between 1988 and 2014
0,RGI60-01.00002,0.022587,-0.027104,-0.017375,-0.019112,-0.024672,-0.015290,-0.015290,-0.016332,0.001042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RGI60-01.00003,0.260965,0.032664,0.013205,-0.001042,-0.038224,-0.020154,0.013205,-0.034054,-0.053514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RGI60-01.00004,0.672046,0.064981,-0.003127,-0.015637,-0.028494,-0.007992,-0.025367,-0.055946,-0.067413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RGI60-01.00005,0.995907,-0.011815,-0.004170,-0.009035,-0.011467,-0.009730,-0.004517,-0.004517,-0.033012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RGI60-01.00006,0.684556,-0.043089,-0.339151,0.347838,0.051776,-0.313784,-0.206062,-0.107027,0.545560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RGI60-01.00007,-0.001737,0.001737,0.008687,-0.034054,-0.001737,-0.086525,-0.010772,-0.011467,0.012162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,RGI60-01.00008,-0.007297,0.055946,0.005907,0.005560,0.005560,-0.029884,-0.006255,-0.002432,-0.013900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RGI60-01.00009,0.242201,-0.253320,-0.010425,0.001390,-0.005212,-0.009035,-0.006602,-0.005560,-0.005560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,RGI60-01.00010,-1.626255,-0.116757,-0.005212,-0.013900,-0.018764,-0.006950,-0.003475,-0.017722,-0.023977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RGI60-01.00011,0.231776,0.051081,-0.092085,-0.024324,-0.067761,-0.033012,-0.035097,-0.050039,-0.049691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,RGI60-01.00012,0.766911,-0.073320,-0.028147,-0.020849,-0.036139,0.005212,-0.029537,-0.049691,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RGI60-01.00013,26.419691,0.196680,0.190772,-0.257143,-1.225598,1.276332,-0.852394,-0.836062,-0.636255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,RGI60-01.00014,-0.035792,-0.044826,-0.031622,-0.089305,-0.025714,-0.020154,-0.009382,-0.010425,-0.033012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,RGI60-01.00015,0.210927,0.033012,0.004170,0.000000,-0.002432,-0.004865,0.002780,0.003127,-0.015985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,RGI60-01.00016,0.095907,-0.392664,-0.032664,-0.068803,-0.081313,-0.067066,-0.043089,-0.029537,-0.022587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,RGI60-01.00017,0.997645,-0.060811,-0.032664,-0.013205,-0.018417,0.017722,-0.009035,-0.021892,-0.025367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RGI60-01.00018,0.357220,0.003475,-0.007297,-0.003822,-0.020849,-0.014942,-0.022239,-0.017722,-0.017027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,RGI60-01.00019,-0.598031,-0.048996,-0.014942,-0.014595,-0.010077,0.007992,-0.002432,-0.004170,-0.021197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RGI60-01.00020,0.706448,-0.008340,-0.099382,-0.023282,-0.308571,-0.560154,-0.303012,-0.362432,-0.129266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,RGI60-01.00021,2.388649,-0.206409,-0.054556,-0.121274,-0.582394,-0.168185,-0.207452,-0.284942,-0.423938,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RGI60-01.00022,2.010232,-0.218224,-0.060116,0.029189,-0.139344,-0.069151,-0.088263,-0.171313,0.007645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,RGI60-01.00023,0.379459,0.007992,-0.002432,0.010425,-0.001737,-0.054903,0.000000,-0.029537,-0.045869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RGI60-01.00024,NaN,0.020849,-0.001737,-0.002780,-0.009730,-0.064286,-0.006950,0.000347,0.029189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,RGI60-01.00025,1.053243,0.331506,0.111544,0.082355,-0.082703,-0.393707,-0.026062,-0.111544,-0.079923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,RGI60-01.00026,NaN,0.060116,-0.007645,-0.001390,-0.002780,-0.016680,0.002780,0.021197,-0.002780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#shape of file
area_only.shape

(18259, 154)

In [16]:
#commented out the below to clean the repository
#area_only.to_csv("../Data/AK_glacier_data_over_time.csv", index=False, header=True)

In [17]:
#after reviewing this file, we noticed that the glaciers waxed and waned, which was weird. 
#We spoke to Cait, who recommended a UML
#We decided to pull other data into that UML, which has its own script
#
#after that UML, we decided to revisit the SML below
#but by only tracking change between the first year of the data (2000) and last (2020) thus avoiding the waxing and waning

In [19]:
#doing just difference between 1986-2020
twodecade=cleaning[cleaning['Year'].isin([1986, 2020])]
td_1986 = twodecade[twodecade['Year'] == 1986]
td_2020 = twodecade[twodecade['Year'] == 2020]
twodecade = pd.concat([td_1986, td_2020])
twodecade=twodecade.sort_values(by=["Id", "Year"]).reset_index(drop=True)
twodecade.head()

,Id,Name,Year,CenLon,CenLat,Area (mi^2),Height (ft),Length (ft)
0,RGI60-01.00002,NaN,1986,-146.668,63.404,0.324903,1414.111,3927.357
1,RGI60-01.00002,NaN,2020,-146.668,63.404,0.224479,1414.111,3927.357
2,RGI60-01.00003,NaN,1986,-146.080,63.376,0.436100,1880.013,6909.786
3,RGI60-01.00003,NaN,2020,-146.080,63.376,0.530965,1880.013,6909.786
4,RGI60-01.00004,NaN,1986,-146.120,63.381,0.763089,3425.364,13698.175

In [20]:
#calculating changes between 1985 & 2020
td_1986 = twodecade[twodecade['Year'] == 1986]
td_2020 = twodecade[twodecade['Year'] == 2020]
SMLprep = pd.merge(td_1986, td_2020, on=['Id','Name'], suffixes=('_1986', '_2020'))
SMLprep['Area Shrinkage (mi^2)'] = SMLprep['Area (mi^2)_1986']-SMLprep['Area (mi^2)_2020']
SMLprep['Shrinkage'] = SMLprep['Area Shrinkage (mi^2)'] > 0
#since lat, lon, height, and length didnt change as shown earlier, differences not needed
SMLprep['Lat']=SMLprep['CenLat_1986']
SMLprep['Lon']=SMLprep['CenLon_1986']
SMLprep['Height (ft)']=SMLprep['Height (ft)_1986']
SMLprep['Length (ft)']=SMLprep['Length (ft)_1986']
SMLprep=SMLprep[['Id','Name','Lat','Lon','Area (mi^2)_1986','Area (mi^2)_2020','Area Shrinkage (mi^2)','Shrinkage','Height (ft)','Length (ft)']]
SMLprep.head()

,Id,Name,Lat,Lon,Area (mi^2)_1986,Area (mi^2)_2020,Area Shrinkage (mi^2),Shrinkage,Height (ft),Length (ft)
0,RGI60-01.00002,NaN,63.404,-146.668,0.324903,0.224479,0.100425,True,1414.111,3927.357
1,RGI60-01.00003,NaN,63.376,-146.080,0.436100,0.530965,-0.094865,False,1880.013,6909.786
2,RGI60-01.00004,NaN,63.381,-146.120,0.763089,1.232896,-0.469807,False,3425.364,13698.175
3,RGI60-01.00005,NaN,63.551,-147.057,0.061158,0.923282,-0.862124,False,2700.263,9780.661
4,RGI60-01.00006,NaN,63.571,-146.244,2.799382,3.721622,-0.922239,False,7697.226,34509.558

In [21]:
#print a nice summary
shrink=SMLprep['Shrinkage'].sum()
noshrink=len(SMLprep) - shrink
percentage = round((shrink / len(SMLprep)) * 100, 3)
print(f'Total Glaciers that Shrunk between 1985 and 2020: {shrink}.')
print(f'Total Glaciers that Didnt Shrink between 1985 and 2020: {noshrink}.')
print(f'Total Percentage of Glaciers that Shrunk between 1985 and 2020: {percentage}%.')

Total Glaciers that Shrunk between 1985 and 2020: 11652.
Total Glaciers that Didnt Shrink between 1985 and 2020: 2134.
Total Percentage of Glaciers that Shrunk between 1985 and 2020: 84.521%.

In [22]:
SMLprep.to_csv("../Data/SMLprep.csv", index=False, header=True)

In [ ]:
#..